body {
    background-color: #eee;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: "Montserrat", "Courier New", Courier, monospace;
}

/* header styling */
.header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    background-color: #f5ba13;
    padding: 0;
    margin: 0;
    height: 60px;
}
.header .brand-name {
    display: inline;
    font-family: "Cabin Sketch", cursive;
    font-size: 40px;
    color: #fff;
}
.header img {
    width: 40px;
    padding: 0px 20px;
}

/* Card Wrapper */
.card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1.75rem;
    width: min(90%, 68.5rem);
    margin-inline: auto;
    padding: 20px;
}

.card {
    display: inline-block;
    margin: 0;
    border: solid 0px gray;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    font-size: 20px;
    height: auto;
    overflow-y: hidden;
    margin: 0px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card h3 {
    margin: 0;
    color: #171818;
}
.card h3:focus-visible {
    outline: none;
}

/* Footer styling */
.footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    margin: auto;
}
.footer p {
    color: #171818;
    margin: 10p;
    font-size: medium;
    font-weight: 600;
}
